@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 10px 0;
  background-image: linear-gradient(to right, #160b03 0%, #5a2d0c 100%);
  box-shadow: 0px 3px 5px 0px rgba(22, 11, 3, 0.3);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.banner{
  height: 100vh;
  background: url("banner3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/*Mentor*/
.container{
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 5rem;
}
.card{
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.card:hover{
  height: 420px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.card .img{
  height: 200px;
  width: 100%;
}
.card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text{
  padding: 5px;
}
.card .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .bottom-text{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text{
  text-align: justify;
}
.card .bottom-text .btn{
  margin: 10px 0;
  text-align: left;
}
.card .bottom-text .btn a{
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.card .bottom-text .btn a:hover{
  transform: scale(0.9);
}
@media screen and (max-width: 868px) {
  .container{
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2rem .3rem;
  }
  .card{
    max-width: 700px;
    margin: 20px 0;
  }
}

/*logo*/
.logo-content img{
  /* background: url("banner3.jpg") no-repeat; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20vh;
  width: 10vw;
}
.logo-content h2{
  justify-content: center;
  text-align: center;
  margin: 0.5rem 0rem;
}
@media screen and (max-width: 868px) {
  .logo-content img{
    width: 38vw;
    height: 25vh;
  }
}
/*footer*/
.end-of-page{
  margin: 2.5rem 0rem 0rem 0rem;
  justify-content: space-evenly;
  text-decoration: none;
  display: flex;
  color: #fff;
  background-image: linear-gradient(to left, #160b03 0%, #5a2d0c 100%);
  height: 35vh;
}
.end-of-page .foot{
  flex-basis: 50%;
  padding: 1rem 2rem;
}
.end-of-page .foot-part1{
  padding: 1rem 4rem;
}
.end-of-page .foot h2{
  text-align: center;
}
.end-of-page .foot-part2 .logo-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25vh;
  width: 10vw;
}
.end-of-page .foot-part1 p{
  padding: 0.8rem 0;
}
.end-of-page .foot-part2 img{
  padding: 0.8rem 0;
}
.end-of-page .foot-part3 p{
  padding: 0.8rem 0;
}
.copy-right{
  background-image: linear-gradient(to left, #160b03 0%, #5a2d0c 100%);
  color: #fff;
  text-align: center;
  padding: 1rem;
}
@media screen and (max-width: 868px) {
  .end-of-page{
    flex-direction: column;
    color: #fff;
    height: 80vh;
  }
  .end-of-page .foot-part1{
    padding: 1rem 2rem;
  }
  .end-of-page .foot-part3{
    text-align: center;
  }
  .end-of-page .foot-part2 .logo-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 19vh;
    width: 22vw;
  }
}
@media screen and (max-width: 500px) {
  .end-of-page{
    flex-direction: column;
    color: #fff;
    height: 100vh;
  }
  .end-of-page .foot-part2 .logo-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    width: 50vw;
  }
}
.btn0{
  text-decoration: none;
  text-transform: uppercase;
  /* font-weight: 900; */
  font-size: 1rem;
  text-align: center;
  padding: 0.1rem 0.8rem;
  cursor: pointer;
  border-radius: 0.5rem;
  display: inline-block;
  color: #fff;
  letter-spacing: 0;
  background-image: linear-gradient(to right, #160b03 0%, #ca641c 100%);
  border: double 0.1rem transparent;
  box-shadow: 0 0.5rem 1rem #160b03;
}
.btn0:hover{
  border: .1rem solid #160b03;
  color: #222;
  background-color: #fff;
  box-shadow: none;
  background-image: none;
}


/*New*/

/*About*/
.about{
  padding: 40px 0;
}
.about .title{
  font-size: 35px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.content{
  max-width: 1450px;
  margin: auto;
  padding: 0px 30px;
}
.content .title{
  margin: 0 5rem;
}
.content p{
  margin: 0 18rem;
  text-align: center;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar.sticky .icon.cancel-btn{
  top: 10px;
}
@media (max-width: 868px) {
  body.disabledScroll{
    overflow: hidden;
  }
  .content p{
    margin: 0 1rem;
  }
  .content .title{
    margin: 0 1rem;
  }
  .icon{
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn{
    display: none;
  }
  .icon.cancel-btn.show{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, #160b03 0%, #5a2d0c 100%);
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list{
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active{
    clip-path: circle(75%);
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
  }
}
